.contact-container {
    font-family: Circular-medium;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;

    a {
        text-decoration: none;
        color: black;
        padding: 5px;
    }
    button {
        background-color: transparent;
        border: 0;
    }
}